<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/base/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>adoCão - Cadastro de ONG</title>
</head>

<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="../../index.html">adoCão</a>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html">Página inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../cadastro/associado.html">Cadastrar associado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../cadastro/ong.html">Cadastrar ONG</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="../login.html"><small>Login</small></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <main class="container-fluid" data-main-pet>
        <section class="my-4">
            <h1 class="h4 py-1">Cadastro de ONG</h1>
            <p class="text-muted">Os campos com * são obrigatórios</p>
        </section>

        <form class="container-sm" data-form>

            <div class="row">
                <div class="row">
                    <p class="text-muted my-3">Dados pessoais</p>
                    <hr />
                    <div class="col">
                        <div class="col-md my-3">
                            <label class="form-label" for="nome">* Nome:</label>
                            <input type="text" class="form-control-sm form-control" id="nome"
                                placeholder="Nome completo" data-tipo="nome" required aria-describedby="nomeFeedback">
                            <span class="invalid-feedback" id="nomeFeedback"></span>
                            </span>
                        </div>
                        <div class="col-md my-3">
                            <label class="form-label" for="cnpj">* CNPJ:</label>
                            <input type="text" class="form-control-sm form-control" id="cnpj"
                                placeholder="999.999.999-99" pattern="^[\d]{2}\.[\d]{3}\.[\d]{3}\/[\d]{4}\-[\d]{2}$"
                                data-tipo="cnpj" required aria-describedby="cnpjFeedback">
                            <span class="invalid-feedback" id="cnpjFeedback"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-md my-3">
                            <label class="form-label" for="email">* E-mail:</label>
                            <input type="email" class="form-control-sm form-control" id="email"
                                placeholder="name@example.com" data-tipo="email" required
                                aria-describedby="emailFeedback">
                            <span class="invalid-feedback" id="emailFeedback"></span>
                        </div>
                        <div class="col-md my-3">
                            <label class="form-label" for="telefone">* Telefone:</label>
                            <input type="tel" class="form-control-sm form-control" id="telefone"
                                placeholder="(99)9999-9999" data-tipo="telefone" required
                                aria-describedby="telefoneFeedback">
                            <span class="invalid-feedback" id="telefoneFeedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="text-muted my-3">Dados de endereço</p>
                    <hr />
                    <div class="col">
                        <div class="col-md my-3">
                            <label class="form-label" for="cep">* CEP:</label>
                            <input pattern="[\d]{5}-[\d]{3}" type="text" class="form-control-sm form-control" id="cep"
                                placeholder="99999-999" data-tipo="cep" required aria-describedby="cepFeedback">
                            <span class="invalid-feedback" id="cepFeedback"></span>
                            </span>
                        </div>
                        <div class="col-md my-3">
                            <label class="form-label" for="logradouro">* Logradouro:</label>
                            <input type="text" class="form-control-sm form-control" id="logradouro"
                                placeholder="Rua das Palmeiras" readonly data-tipo="logradouro" required
                                aria-describedby="logradouroFeedback">
                            <span class="invalid-feedback" id="logradouroFeedback"></span>
                        </div>
                        <div class="col-md my-3">
                            <label class="form-label" for="numero">* Número:</label>
                            <input type="number" class="form-control-sm form-control" id="numero" placeholder="1234"
                                data-tipo="numero" required min="1" aria-describedby="numeroFeedback">
                            <span class="invalid-feedback" id="numeroFeedback"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-md my-3">
                            <label class="form-label" for="bairro">* Bairro:</label>
                            <input type="text" class="form-control-sm form-control" id="bairro" placeholder="Floresta"
                                readonly data-tipo="bairro" required aria-describedby="bairroFeedback">
                            <span class="invalid-feedback" id="bairroFeedback"></span>
                        </div>
                        <div class="col-md my-3">
                            <label class="form-label" for="estado">* Estado:</label>
                            <input type="text" class="form-control-sm form-control" id="estado" placeholder="SP"
                                readonly data-tipo="estado" required aria-describedby="estadoFeedback">
                            <span class="invalid-feedback" id="estadoFeedback"></span>
                        </div>
                        <div class="col-md my-3">
                            <label class="form-label" for="cidade">* Cidade:</label>
                            <input type="text" class="form-control-sm form-control" id="cidade" placeholder="São Paulo"
                                readonly data-tipo="cidade" required aria-describedby="cidadeFeedback">
                            <span class="invalid-feedback" id="cidadeFeedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="text-muted">Dados de usuário</p>
                    <hr />
                    <div class="col-md my-3">
                        <label class="form-label" for="usuario">* Usuário:</label>
                        <input type="text" class="form-control-sm form-control" id="usuario"
                            placeholder="Nome de usuário" data-tipo="usuario" required
                            aria-describedby="usuarioFeedback">
                        <span class="invalid-feedback" id="usuarioFeedback"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="form-label" for="senha">* Senha:</label>
                        <input type="password" class="form-control-sm form-control" id="senha" placeholder="Senha123!"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                            data-tipo="senha" required aria-describedby="senhaFeedback">
                        <span class="invalid-feedback" id="senhaFeedback">
                        </span>
                        <span>

                            <svg xmlns="http://www.w3.org/2000/svg" id="olho" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                            <small>
                                Visualizar senha
                            </small>
                        </span>
                        <div id="passwordHelpBlock" class="form-text">
                            A senha informada deve conter: mínimo de oito caracteres, pelo menos uma letra
                            maiúscula,
                            uma letra minúscula, um número e um caractere especial.
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary my-3">Cadastrar</button>
        </form>
    </main>

    <footer class="d-flex justify-content-center">
        <div>
            <small href="#">&copy; Ciência da Computação - 2021</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="module" src="../../controller/cadastro/ong.js"></script>
</body>

</html>